<h1>List details for: <%= @list.name %></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= image_tag bookmark.movie.poster_url, style: 'width:200px' %>
      <%= bookmark.movie.title %> -
      <%= bookmark.comment %> -
      <%= link_to 'Delete',
          bookmark_path(bookmark),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add movie', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path  %>
